<ngb-tabset  [justify]="currentJustify" style="max-width: 90%;">
    <ngb-tab>
        <ng-template ngbTabTitle ><b>Ajouter employé</b> </ng-template>
      <ng-template ngbTabContent >
        <app-form-emp id="centerForm"></app-form-emp>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle ><b>Supprimer employé</b> </ng-template>
      <ng-template ngbTabContent >
        <p>Ici on supprimera un employé </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle ><b>Modifier employé</b> </ng-template>
      <ng-template ngbTabContent>
        <p>Ici on modifira un employé</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>