<ngb-tabset  [justify]="currentJustify" style="max-width: 90%;">
    <ngb-tab>
        <ng-template ngbTabTitle ><b>Ajouter aliment</b> </ng-template>
      <ng-template ngbTabContent >
        <p>On ajoute des aliment ici</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle ><b>Supprimer un aliment</b> </ng-template>
      <ng-template ngbTabContent >
        <p>Ici on supprimera des aliment </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle ><b>Modifier des aliment</b> </ng-template>
      <ng-template ngbTabContent>
        <p>Ici on modifira un aliment </p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
