  h1{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .enTete{
    display: flex;
    justify-content: center;
    text-align: center;
  }


  .contener{
    display: flex; 
  }
 
  .navLeft{
    border-style: solid;
    border-collapse: collapse;
    background-color: hsl(194, 31%, 74%); 
    width:150px; 
    height: 700px;
    box-shadow: 6px 6px 20px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
}

.anav{
  text-align: center;
}

#buttonMenu{
  position: absolute;
  top:  10px;
  left: 20px;
}

.btnNavBck{
  width: 130px;
  height: 60px;
  background-color: #b0d9e4;
  border-style: solid; 
  border-color: hsl(194, 31%, 74%);
  margin-top: 10px;
  margin-left: 5px;
  box-shadow: 6px 6px 20px black;
}

.btnNavBck:hover{
  background-color: hsl(194, 31%, 74%);
  box-shadow: 6px 6px 10px black;
}