<div class="form-group" id="contForm">
  <div>
    <div class="inputForm">
        <label for="idEmp">id utilisateur :</label>
        <input type="text" class="form-control" id="idEmp" required>
    </div>
    <div class="inputForm">
        <label for="nom">Nom :</label>
        <input type="text" class="form-control" id="nom" required>
    </div>
    <div class="inputForm">
        <label for="prenom">Prenom :</label>
        <input type="text" class="form-control" id="prenom" required>
    </div>
    <div class="inputForm">
        <label for="dNaiss">Date de naissance :</label>
        <input type="text" class="form-control" id="dNaiss" required>
    </div>
  </div>
  <div>
    <div class="inputForm">
        <label for="dEntre">Date d'entré :</label>
        <input type="text" class="form-control" id="dEntre" required>
    </div>
    <div class="inputForm">
        <label for="numSécu">Numéro de sécurité sociale :</label>
        <input type="text" class="form-control" id="numSecu" required>
    </div>
    <div class="inputForm">
        <label for="mdp">Mot de passe :</label>
        <input type="text" class="form-control" id="mdp" required>
    </div>
    <div class="btnForm">
        <button id="btnEnvoiFormEmp" mat-raised-button color="primary" type="submit" >Envoie</button>
    </div>
  </div>
  
</div>