<h1>{{title}}</h1>
<div class="blocButton">
  <div (click)="open('caisse')" class="button-accueil" data-toggle="modal" data-target="#myModal" ><span class="texteCenter">Caisse</span></div>
  <div (click)="open('client')" class="button-accueil"><span class="texteCenter">Client</span></div>
  <div (click)="open('cuisine')" class="button-accueil"><span class="texteCenter">Cuisine</span></div>
  <div (click)="open('serveur')" class="button-accueil"><span class="texteCenter">Serveur</span></div>
  <div (click)="open('backOffice')" class="button-accueil"><span class="texteCenter">espace back office</span></div>
</div>

